In [30]:
from pandas import read_csv, DataFrame,get_dummies
from imblearn.over_sampling import SMOTE
import pandas as pd
import numpy as np
data = read_csv('datasets/Video_games_esrb_rating.csv')

In [10]:
data.head(3)

,title,console,alcohol_reference,animated_blood,blood,blood_and_gore,cartoon_violence,crude_humor,drug_reference,fantasy_violence,...,sexual_content,sexual_themes,simulated_gambling,strong_janguage,strong_sexual_content,suggestive_themes,use_of_alcohol,use_of_drugs_and_alcohol,violence,esrb_rating
0,Monster Jam Steel Titans 2,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,E
1,Subnautica: Below Zero,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,ET
2,NIER REPLICANT VER.1.22474487139…,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,M

In [11]:
data.tail()

,title,console,alcohol_reference,animated_blood,blood,blood_and_gore,cartoon_violence,crude_humor,drug_reference,fantasy_violence,...,sexual_content,sexual_themes,simulated_gambling,strong_janguage,strong_sexual_content,suggestive_themes,use_of_alcohol,use_of_drugs_and_alcohol,violence,esrb_rating
1890,SENRAN KAGURA Peach Beach Splash,0,0,0,0,0,0,0,0,1,...,1,1,0,1,0,0,0,0,0,M
1891,Sneaky Bears,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,T
1892,SPARC,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,E
1893,Still Time,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,T
1894,Surf World Series,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,E

In [12]:
data.shape

(1895, 34)

In [13]:
data.columns

Index(['title', 'console', 'alcohol_reference', 'animated_blood', 'blood',
       'blood_and_gore', 'cartoon_violence', 'crude_humor', 'drug_reference',
       'fantasy_violence', 'intense_violence', 'language', 'lyrics',
       'mature_humor', 'mild_blood', 'mild_cartoon_violence',
       'mild_fantasy_violence', 'mild_language', 'mild_lyrics',
       'mild_suggestive_themes', 'mild_violence', 'no_descriptors', 'nudity',
       'partial_nudity', 'sexual_content', 'sexual_themes',
       'simulated_gambling', 'strong_janguage', 'strong_sexual_content',
       'suggestive_themes', 'use_of_alcohol', 'use_of_drugs_and_alcohol',
       'violence', 'esrb_rating'],
      dtype='object')

In [14]:
data.describe()

,console,alcohol_reference,animated_blood,blood,blood_and_gore,cartoon_violence,crude_humor,drug_reference,fantasy_violence,intense_violence,...,partial_nudity,sexual_content,sexual_themes,simulated_gambling,strong_janguage,strong_sexual_content,suggestive_themes,use_of_alcohol,use_of_drugs_and_alcohol,violence
count,1895.000000,1895.000000,1895.000000,1895.000000,1895.000000,1895.000000,1895.000000,1895.000000,1895.000000,1895.000000,...,1895.000000,1895.000000,1895.000000,1895.000000,1895.000000,1895.000000,1895.000000,1895.000000,1895.000000,1895.000000
mean,0.475462,0.050132,0.010026,0.227968,0.126121,0.019525,0.054354,0.034828,0.220580,0.118206,...,0.013193,0.034301,0.057520,0.067018,0.118206,0.035884,0.117678,0.015831,0.015831,0.063852
std,0.499529,0.218275,0.099655,0.419633,0.332074,0.138398,0.226774,0.183394,0.414748,0.322937,...,0.114129,0.182049,0.232895,0.250120,0.322937,0.186050,0.322312,0.124855,0.124855,0.244554
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1895 entries, 0 to 1894
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   title                     1895 non-null   object
 1   console                   1895 non-null   int64
 2   alcohol_reference         1895 non-null   int64
 3   animated_blood            1895 non-null   int64
 4   blood                     1895 non-null   int64
 5   blood_and_gore            1895 non-null   int64
 6   cartoon_violence          1895 non-null   int64
 7   crude_humor               1895 non-null   int64
 8   drug_reference            1895 non-null   int64
 9   fantasy_violence          1895 non-null   int64
 10  intense_violence          1895 non-null   int64
 11  language                  1895 non-null   int64
 12  lyrics                    1895 non-null   int64
 13  mature_humor              1895 non-null   int64
 14  mild_blood                1895 non-null   int64
 15  mild_cartoon_violence     1895 non-null   int64
 16  mild_fantasy_violence     1895 non-null   int64
 17  mild_language             1895 non-null   int64
 18  mild_lyrics               1895 non-null   int64
 19  mild_suggestive_themes    1895 non-null   int64
 20  mild_violence             1895 non-null   int64
 21  no_descriptors            1895 non-null   int64
 22  nudity                    1895 non-null   int64
 23  partial_nudity            1895 non-null   int64
 24  sexual_content            1895 non-null   int64
 25  sexual_themes             1895 non-null   int64
 26  simulated_gambling        1895 non-null   int64
 27  strong_janguage           1895 non-null   int64
 28  strong_sexual_content     1895 non-null   int64
 29  suggestive_themes         1895 non-null   int64
 30  use_of_alcohol            1895 non-null   int64
 31  use_of_drugs_and_alcohol  1895 non-null   int64
 32  violence                  1895 non-null   int64
 33  esrb_rating               1895 non-null   object
dtypes: int64(32), object(2)
memory usage: 503.5+ KB

In [16]:
DataFrame(data['esrb_rating'])

     esrb_rating
0              E
1             ET
2              M
3             ET
4              T
...          ...
1890           M
1891           T
1892           E
1893           T
1894           E

[1895 rows x 1 columns]

In [17]:
data['esrb_rating'].unique()

array(['E', 'ET', 'M', 'T'], dtype=object)

In [18]:
# Dropping rows where ESRB rating is missing since that's our target variable
data = data.dropna(subset=['esrb_rating'])

# Mapping ESRB ratings to integers
esrb_mapping = {'Everyone': 0, 'Everyone 10+': 1, 'Teen': 2, 'Mature': 3, 'Adults Only': 4}
data['esrb_rating'] = data['esrb_rating'].map(esrb_mapping)

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1895 entries, 0 to 1894
Data columns (total 34 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   title                     1895 non-null   object
 1   console                   1895 non-null   int64
 2   alcohol_reference         1895 non-null   int64
 3   animated_blood            1895 non-null   int64
 4   blood                     1895 non-null   int64
 5   blood_and_gore            1895 non-null   int64
 6   cartoon_violence          1895 non-null   int64
 7   crude_humor               1895 non-null   int64
 8   drug_reference            1895 non-null   int64
 9   fantasy_violence          1895 non-null   int64
 10  intense_violence          1895 non-null   int64
 11  language                  1895 non-null   int64
 12  lyrics                    1895 non-null   int64
 13  mature_humor              1895 non-null   int64
 14  mild_blood                1895 non-null   int64
 15  mild_cartoon_violence     1895 non-null   int64
 16  mild_fantasy_violence     1895 non-null   int64
 17  mild_language             1895 non-null   int64
 18  mild_lyrics               1895 non-null   int64
 19  mild_suggestive_themes    1895 non-null   int64
 20  mild_violence             1895 non-null   int64
 21  no_descriptors            1895 non-null   int64
 22  nudity                    1895 non-null   int64
 23  partial_nudity            1895 non-null   int64
 24  sexual_content            1895 non-null   int64
 25  sexual_themes             1895 non-null   int64
 26  simulated_gambling        1895 non-null   int64
 27  strong_janguage           1895 non-null   int64
 28  strong_sexual_content     1895 non-null   int64
 29  suggestive_themes         1895 non-null   int64
 30  use_of_alcohol            1895 non-null   int64
 31  use_of_drugs_and_alcohol  1895 non-null   int64
 32  violence                  1895 non-null   int64
 33  esrb_rating               0 non-null      float64
dtypes: float64(1), int64(32), object(1)
memory usage: 518.2+ KB

In [20]:
data.head()

,title,console,alcohol_reference,animated_blood,blood,blood_and_gore,cartoon_violence,crude_humor,drug_reference,fantasy_violence,...,sexual_content,sexual_themes,simulated_gambling,strong_janguage,strong_sexual_content,suggestive_themes,use_of_alcohol,use_of_drugs_and_alcohol,violence,esrb_rating
0,Monster Jam Steel Titans 2,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
1,Subnautica: Below Zero,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
2,NIER REPLICANT VER.1.22474487139…,1,0,0,1,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,NaN
3,Jamestown+,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,NaN
4,Neptunia Virtual Stars,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,NaN

In [21]:
# Creating dummy variables for the 'genres' column
data2 = get_dummies(data, ['genres'], dtype='int')

In [22]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1895 entries, 0 to 1894
Columns: 1928 entries, console to genres_void tRrLM(); //Void Terrarium
dtypes: float64(1), int32(1895), int64(32)
memory usage: 14.2 MB

In [23]:
data2.to_csv('game_info_cleaned.csv')

In [24]:
x=data2.drop('esrb_rating', axis =1)# feature
y=data2['esrb_rating']# label
print(x.shape[1])
print(y.shape)

1927
(1895,)

In [25]:
from sklearn.preprocessing import StandardScaler
x_scaled=StandardScaler().fit_transform(x)
DataFrame(x_scaled)

,0,1,2,3,4,5,6,7,8,9,...,1917,1918,1919,1920,1921,1922,1923,1924,1925,1926
0,1.050342,-0.229734,-0.100638,-0.543400,-0.3799,-0.141117,-0.239745,-0.189961,-0.531983,-0.366130,...,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978
1,1.050342,-0.229734,9.936641,-0.543400,-0.3799,-0.141117,-0.239745,-0.189961,-0.531983,2.731267,...,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978
2,1.050342,-0.229734,-0.100638,1.840265,-0.3799,-0.141117,-0.239745,-0.189961,-0.531983,-0.366130,...,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978
3,-0.952071,-0.229734,-0.100638,-0.543400,-0.3799,-0.141117,-0.239745,-0.189961,1.879759,-0.366130,...,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978
4,-0.952071,-0.229734,-0.100638,-0.543400,-0.3799,-0.141117,-0.239745,-0.189961,1.879759,-0.366130,...,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1890,-0.952071,-0.229734,-0.100638,-0.543400,-0.3799,-0.141117,-0.239745,-0.189961,1.879759,-0.366130,...,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978
1891,-0.952071,-0.229734,-0.100638,-0.543400,-0.3799,-0.141117,-0.239745,-0.189961,1.879759,-0.366130,...,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978
1892,-0.952071,-0.229734,-0.100638,-0.543400,-0.3799,-0.141117,-0.239745,-0.189961,-0.531983,-0.366130,...,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978
1893,-0.952071,-0.229734,-0.100638,1.840265,-0.3799,-0.141117,-0.239745,-0.189961,-0.531983,-0.366130,...,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978
1894,1.050342,-0.229734,-0.100638,-0.543400,-0.3799,-0.141117,-0.239745,-0.189961,-0.531983,-0.366130,...,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978,-0.022978

In [26]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x_scaled,y, test_size=0.30, random_state=100)
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(1326, 1927)
(569, 1927)
(1326,)
(569,)

In [27]:
y_train.value_counts()

Series([], Name: esrb_rating, dtype: int64)

In [28]:
import numpy as np

# Example NumPy array
x_train = np.array([[1, 2, np.nan], [np.inf, 5, 6], [7, 8, 9], [np.nan, np.inf, 11]])

# Identify the rows that have NaN or Inf values
rows_with_nan = np.isnan(x_train).any(axis=1)
rows_with_inf = np.isinf(x_train).any(axis=1)
rows_to_remove = rows_with_nan | rows_with_inf  # Combine the conditions

# Remove the identified rows
x_train_clean = x_train[~rows_to_remove]

# Optionally convert the data type to float64 if needed
x_train_clean = x_train_clean.astype('float64')

In [32]:
x_train,y_train=SMOTE(random_state=20).fit_resample(x_train,y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
y_train.value_counts()

1.0    25611
2.0     7036
3.0     3453
0.0     2683
4.0      285
Name: esrb_rating, dtype: int64